{% extends 'base.html' %}

{% block header %}
<h1>{%block title %}Gesty{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('gesty.create') }}">Nuevo</a>
    {%endif %}
{% endblock}

{% block content %}
<ul class="">
    {% for gesty in todos%}
        <li class="gesty">
            <div>
                <h1>
                    {%if gesty['completado'] ==1 %}
                    <strike>{{ todo ['description']}}

                    </strike>
                    {%else %}
                    {{ gesty['descripcion'] }}
                    {%endif%}

                </h1>
            </div>
        </li>
        {% if not loop.last%}
        <hr>
        {% endfor%}
</ul>"
{%endblock%}
