{% extends 'base.html' %}

{% block header %}
<h1>{% block title%} Editar {{ gesty ['descripcion']}}{% endblock%}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="descripcion">Descripcion</label>
        <input name="descripcion" id="descripcion" value="{{ request.form['descripcion'] x or gesty ['descripcion'] }}" required>
        <label for = "compleatado">Compleatado</label>
        <input type = "checkbox" name="compleatado" id="compleatado" {% if gesty['compleatado'] ==1% } checked{% endif %}/>
        <input type = "submit" value="Guardar"/> 
    </form>
    
    <form action = "{{url_for('gesty.delete', id=gesty['id']) }}" method="POST">
        <input class ="Cuidado!" type = "submit" value="Eliminar" onclick="return confirm('Estas seguro de que quieres eliminarlo')"/>
    </form> 
{% endblock %}